*{
    margin:0;
    padding:0;
  
}
.logo{
    width:20%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width = 33%;
    border: solid white;
    border-radius: 9px;
}
.navbar{
    dispaly:flex;
}
.nav-list{
     width:50%;
  
     display: flex;
    align-items: center;
    
}
.nav-list li{
  
  font-size: medium;
  list-style: none;
  padding: 26px 30px;
 
}
.nav-list li a{
       text-decoration: none;
       color :red;
       
}
.nav-list li a:hover{
    text-decoration: none;
    color : grey;
}   

.login{
    margin: auto;
  text-align: center;
  color:darkblue;
  font-size: x-large;
  background-color: yellowgreen;
  width: 300px;
  border: 15px solid orange;
  padding: 50px;


}
.register{
    margin: auto;
  text-align: center;
  color: crimson;
  font-size: x-large;
  background-color: yellowgreen;
  width: 300px;
  border: 15px solid orange;
  padding: 50px;


}
.forgotpassword{
    margin: auto;
  text-align: center;
  color: crimson;
  font-size: x-large;
  background-color: yellowgreen;
  width: 300px;
  border: 15px solid orange;
  padding: 50px;


}
.resetpassword{
    margin: auto;
  text-align: center;
  color: crimson;
  font-size: x-large;
  background-color: yellowgreen;
  width: 300px;
  border: 15px solid orange;
  padding: 50px;


}
.login a{
    text-decoration: none;
    color:red;
    font-size: x-large;
}
.register a{
    text-decoration: none;
    color: red;
    font-size: x-large;
}
.forgotpassword a{
    text-decoration: none;
    color: red;
    font-size: x-large;
}
.resetpassword a{
    text-decoration: none;
    color: red;
    font-size: x-large;
}
.btn btn-sm{
    size: a3;
        text-align: center;
}
.btn btn-sm:hover{
    text-decoration: none;
    color: grey;
}
